/* PAGINA ADOPTAR */
/* ========= */
.adopt {
    &__img {
        width: 100vw;
        max-height: 45rem;
        object-fit: cover;
    }

    &__text {
        position: absolute;
        top: 40%;
        left: 70%;
        transform: translate(-50%, -50%);
        font-size: 3.5rem;
        font-weight: 900;
        color: $color-secundario;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        z-index: 2;
    }
}

.form__adopt {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    gap: 20px;

    h1 {
        flex-basis: 100%;
        text-align: center;
        font-size: 2.3rem;
        margin-bottom: 20px;
        color: #333;
    }
}

.form-select {
    flex: 1;
    max-width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    font-size: 14px;
}

.icon-container {
    display: flex;
    gap: 10px;
    align-items: center;

    .icon-button {
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        outline: none;

        i {
            font-size: 36px;
            color: #666;
            transition: color 0.3s;

            &:hover {
                color: $color-principal;
            }
        }
    }
}

.find-friend-button {
    background-color: $color-principal;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: $color-hover;
    }
}
/* SECCION INFO */

.adopt__info {
    background-image: url("https://img.freepik.com/foto-gratis/vista-frontal-hermoso-perro-espacio-copia_23-2148786560.jpg?w=1800&t=st=1692218237~exp=1692218837~hmac=570a03397a06fc5dc0195be2ceeb90af4b7f68c0c26db7d78d25f22f3497045f");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &__title {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 20px;
        color: #333;
    }

    &_parrafo {
        font-size: 1.3rem;
        line-height: 1.5;
        margin-bottom: 30px;
        color: #555;

    }

    &__button {
        background-color: $color-principal;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: $color-hover;
            color: #333;
        }
    }
}


.adopt__section-title {
    text-align: center;
    margin-bottom: 40px;
}

.adopt__process {
    background-color: #f7f7f7;
    padding: 60px 0;

    &-step {
        text-align: center;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        margin-bottom: 30px;
    }

    &-icon {
        font-size: 36px;
        color: $color-secundario;
        margin-bottom: 10px;
    }

    &-title {
        font-size: 24px;
        margin-bottom: 10px;
        color: #333;
    }

    &-text {
        font-size: 16px;
        color: #555;
    }
}
