/* PAGINA CONTACTANOS */


.contact {
    padding: 80px 0;
    background: linear-gradient(to bottom, #f6f9fc, #e0e7ef);
    &__title {
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
        color: $color-principal;
        margin-bottom: 30px;
    }

    &__subtitle {
        color: #326663;
    }

    &__info {
        font-size: 16px;
        color: #555;
        margin-bottom: 10px;
    }

    &__btn {
        @include button;
        border: none;

        &:hover {
            background-color: $color-hover;
        }
    }
}
