.navbar-nav {
    .nav-item {
        .nav-link {
            border-bottom: 2px solid transparent;
            transition: all 0.15s ease;

            &:hover {
                color: $color-hover;
                text-decoration: none;
                transform: scale(1.04);
            }

            &.active {
                border-color: $color-principal; 
                color: $color-principal; 
                font-weight: bold;
            }
        }
            
        }
    }