.navbar-nav {
    .nav-item {
        .nav-link {
            border-bottom: 2px solid transparent;
            transition: border-color 0.8s;

            &:hover {
                color: $color-hover;
                text-decoration: none;
            }

            &.active {
                border-color: $color-principal; 
                color: $color-principal; 
                font-weight: bold;
            }
        }
            
        }
    }